<!DOCTYPE html>
<html lang="en">
<body>
  
<div class="container text-center">    
  <h3>What We Do</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="https://thumbs.dreamstime.com/b/woman-friendship-silhouette-22994848.jpg" class="img-thumbnail" style="width:100%" alt="Image">
      <p>Current Project</p>
    </div>
    <div class="col-sm-4"> 
      <img src="https://www.grandpacificresorts.com/wp-content/uploads/2014/09/img-blog-traveling-with-friends..jpg" class="img-thumbnail" style="width:95%" alt="Image">
      <p>Project 2</p>    
    </div>
    <div class="col-sm-4">
      <div class="well">
      <p class="lead" align="justify">A importância dos amigos na vida humana é inestimável. Os amigos desempenham um papel fundamental em nosso bem-estar emocional, proporcionando apoio, compreensão e um senso de pertencimento. Eles são os confidentes com quem compartilhamos nossas alegrias e tristezas, e muitas vezes desempenham o papel de conselheiros em momentos de incerteza. Além disso, os amigos enriquecem nossas vidas ao nos expor a diferentes perspectivas, experiências e culturas, ampliando nossa compreensão do mundo.</p>
      </div>
      <div class="well">
      <p class="lead" align="justify">Além disso, os amigos desempenham um papel crucial no desenvolvimento social e emocional. Eles nos ajudam a construir habilidades de comunicação, empatia e resolução de conflitos. Os relacionamentos de amizade fornecem uma rede de apoio vital em momentos de necessidade, e o sentimento de pertencer a um grupo de amigos é um dos principais fatores que contribuem para a felicidade e a saúde mental. Em suma, a importância dos amigos transcende as fronteiras culturais e geográficas, tornando-os um tesouro inestimável na jornada da vida humana.</p>
      </div>
    </div>
  </div>
</div><br>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
